WS3_Node-Red.json
[{"id":"b88baa72.a60028","type":"tab","label":"WS 3","disabled":false,"info":""},{"id":"feffd9e0.c4caf","type":"http in","z":"b88baa72.a60028","name":"http post","url":"/[YOUR SLASH COMMAND HERE]","method":"post","upload":false,"swaggerDoc":"","x":100,"y":120,"wires":[["3bb39c6b.399c5c"]]},{"id":"acb6b6a.4682148","type":"http response","z":"b88baa72.a60028","name":"","statusCode":"","headers":{},"x":1090,"y":120,"wires":[]},{"id":"3bb39c6b.399c5c","type":"json","z":"b88baa72.a60028","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":120,"wires":[["638afb28.d2a4ec"]]},{"id":"638afb28.d2a4ec","type":"change","z":"b88baa72.a60028","name":"","rules":[{"t":"delete","p":"payload.token","pt":"msg"},{"t":"delete","p":"payload.team_id","pt":"msg"},{"t":"delete","p":"payload.team_domain","pt":"msg"},{"t":"delete","p":"payload.channel_id","pt":"msg"},{"t":"delete","p":"payload.channel_name","pt":"msg"},{"t":"delete","p":"payload.user_id","pt":"msg"},{"t":"delete","p":"payload.user_name","pt":"msg"},{"t":"delete","p":"payload.command","pt":"msg"},{"t":"delete","p":"payload.response_url","pt":"msg"},{"t":"delete","p":"payload.trigger_id","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":120,"wires":[["a9bd2520.1f54c"]]},{"id":"fb36df02.47335","type":"function","z":"b88baa72.a60028","name":"","func":"msg.payload ={\n\tblocks: [\n\t\t{   \n\t\t\ttype: \"section\",\n\t\t\ttext: {\n\t\t\t\ttype: \"plain_text\",\n\t\t\t\ttext: msg.payload.generated_text,\n\t\t\t\temoji: true\n\t\t\t}\n\t\t}\n\t]\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":120,"wires":[["acb6b6a.4682148","b297501a.1067b8"]]},{"id":"a9bd2520.1f54c","type":"function","z":"b88baa72.a60028","name":"","func":"const config = {\n    max_characters:300,\n    top_p:0.3,\n    seed: 123,\n    prompt: msg.payload.text\n};\nmsg.payload = config;\n\n/*msg.header = {\n    'Content-Type': 'application/json'\n}*/\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["33dd5b74.a6020c","744b49fb.72f09"]]},{"id":"33dd5b74.a6020c","type":"http request","z":"b88baa72.a60028","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:8000/query","tls":"","persist":false,"proxy":"","authType":"bearer","x":770,"y":120,"wires":[["fb36df02.47335"]]},{"id":"19d5979f.86a8c8","type":"json","z":"b88baa72.a60028","name":"","property":"payload","action":"str","pretty":false,"x":1430,"y":680,"wires":[["fc39aa41.10b168"]]},{"id":"fc39aa41.10b168","type":"debug","z":"b88baa72.a60028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":740,"wires":[]},{"id":"b297501a.1067b8","type":"debug","z":"b88baa72.a60028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1110,"y":180,"wires":[]},{"id":"744b49fb.72f09","type":"debug","z":"b88baa72.a60028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":180,"wires":[]}]